@font-face {
    font-family: nd;
    src:url(NBInternationalProBoo.ttf)
}
@font-face {
    font-family: raju;
    src: url(Rejouice-Headline.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html, body{
    height: 100%;
    width: 100%;
}


#INVOICE{
    height: 7vw;
    width: 7vw;
    background-color:red;
    border-radius: 50%;
    position: fixed;
    color: rgb(46, 32, 32);
    z-index: 89;
    right: 0;
    top: 25%;
    /* display: none; */
    background-size: cover;
    background-position:  center;
    overflow: hidden;
}

#INVOICE img{
   width: 100%;
   height: 100%;
   align-items: center;
   justify-content: center;
   font-weight: 600;
}
#page1{
    height: 100vh;
    width: 100%;
 /* background-color: #dada; */
 position: relative;
}
#cursor{
    height: 7.5vw;
    width: 7.5vw;
    background-color:#ff5f38 ;
    border-radius: 50%;
    position: fixed;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-self: unset;
    justify-content: center;
    transform: translate(-50%,-50%);
}
#cursor h5{
    font-size: 1.15vw;

}
#page1 video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
}
#page1-content{
     height: 100%;
     width: 100%;
     /* background-color: rgb(0, 0, 0); */
     position: relative;
     z-index: 10;
     color: #FFF;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-between;
}
nav{
    /* height: 100px; */
    display: flex;
    justify-items: center;
    justify-content: space-between;
    width: 100%;
    /* background-color: red; */
    padding: 3vw 3vw;
}
nav h3{
    font-size: 2.4vw;
    font-weight: 100;
}
nav h4{
    font-size:1.4vw;
    font-weight: 100;
}

#page1-content h1{
    font-family: raju;
    font-size: 25vw;
   font-weight: 100;
   line-height: 20vw;
}
#page1-content span{
    display: inline-block;
    font-family: raju;
}
/* #page2{
    height: 100vh;
    width: 100%;
    border-right-color: #bababa;
} */
#page2
{
   min-height: 100hv;
    /* width: 100vh; */
    
    background-color:#ffffff;
    padding: 8vw;
    position: relative;
}
#page2 h1{
    font-size: 10vw;
    font-weight: 500;
    font-family: raju;
}

.con
{
    white-space: nowrap;
    display: inline-block;
    /* background-color: #299be1; */
    animation: move 3s linear  infinite ;
    
}
#moving-text{
    white-space: nowrap;
    overflow-x: auto;
}
#moving-text::-webkit-scrollbar{
    display: none;

}
#moving-text h1
{
    font-size: 9vw;
    display: inline-block;
}
#gola
{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: inline-block;
    background-color:#ff5f38 ;
    margin:  0 3vw;
}
@keyframes move {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
    
}
/* end of page2 */
.elem h1{
    border-right-color: blue;
    font-size: 4.2vw;
    font-weight: 500;
}
#page3{
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding: 3vw;

}
#page3-top{
    /* background-color: red; */
    text-align: center;
}
#page3-top h4{
    margin-bottom: 1vw;
    font-size: 1.7vw;
    font-weight: 500;
}
#page3-top h4 span{
    font-size: 0.9vw;
    background-color: black;
    color: white;
    padding: 4px 8px;
    border-radius: 10px;
}

#page3-top h2{
    font-size: 4vw; 
    font-weight: 500;
    
}
#page3-elements{
    height: 75vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8vw;
    /* background-color: red; */
}
#page3-elements .box{
    height: 100%;
    width: 32.5%;
    position: relative;
    /* background-color: blue; */
}
#page3-elements .box video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;

}
#page3-elements .box img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: all linear 1s;
}

#page3-elements .box:hover img{
    opacity: 0;
 }

 #page4
{
    min-height: 80vw;
    width: 100%;
    background-color: #ffffff;
    padding: 4vw 3vw;
}
#page4 h1{
    font-family: raju;
    font-size: 10vw;
    font-weight: 500;
}
.elem{
    height: 150px;
    width: 100%;
    /* background: linear-gradient(to top,red, blue); */
    overflow: hidden;
    /* border-top: 1px solid black; */
    border-bottom: 1px solid black;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 2vw;
    
}
.elem h2{
    font-size: 3vw;
    position: relative;
    color: black;
    text-decoration: none;
    z-index: 9;

}
.elem .overlay{
    height: 100%;
    width: 100%;
    background-color: burlywood;
    position: absolute;
    left: 0;
    top: -100%;
    transition: all ease 0.2s;
}
.elem:hover .overlay{
    top: 0;
}

#fixed-image{
    height: 35vw;
    width: 30vw;
    /* background-color:red; */
    border-radius: 10px;
    position: fixed;
    z-index: 99;
    left: 50%;
    top: 25%;
    display: none;
    background-size: cover;
    background-position:  center;
}

#page5{
    height: 100vh;
    width: 100%;
    padding: 4vw 0;
    position: relative;
}
#page5 h1{
    font-size: 10vw;
    font-family: raju;
    font-weight: 100;
    border-bottom: 0.5px solid;
    width: 96%;
    margin-left: 2%;
}

#swiperdiv{
   height: 60vh;   
   width: 100%;
   position: relative;
   margin-top: 5%;
}
  .swiper {
    width: 130%;
    height: 100%;
    overflow: hidden;
  }

  .swiper-slide {
    width: 400px ;
    text-align: center;
    font-size: 18px;
    /* background: transparent; */
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}

.swiper-slide   img {
    display: block;
    width: 19%;
    height: 100%;
    background-color: transparent;
    object-fit: cover;
  }

  .swiper {
    margin-left: auto;
    margin-right: auto;
  }

  .swiper {
    margin-left: auto;
    margin-right: auto;
  }
  #loader{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: black;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    gap: 10px;
  }

  #loader h3{
    font-size: 2vw;
    font-weight: 2vw;
  }